@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* global styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #24252A;
    color: whitesmoke;
}

li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 2%;

}

p, h2 {
    margin-top: 10px;;
}

/* .logo {
    cursor: pointer;
    height: 20px;
    margin-right: auto;
} */

/* Header menu styles */

.header-nav-links {
    list-style-type: non;
}

.header-nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.header-nav-links li a {
    transition: all 0.3s ease 0s;
}

.header-nav-links li a:hover {
    color: #0088a9;
}

.dropdown-button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;
}

.dropdown-button:hover {
    background-color: rgba(0,136,169,0.8);
}

/*.dropdown > .link:focus,
.link:hover {
    color: black;
}*/


.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    top: calc(100% + .25rem);
    background-color: #24252A;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0, .1);
    margin-left: 20px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    text-align: center;
    z-index: 9;
    line-height: 30px;

}

.dropdown.active > .dropdown-link + .dropdown-menu {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;

}

/* Sidebar menu styles */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 280px;
    background-color: #11101d;
    padding: 6px 14px;
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 80px;
}

.sidebar .logo-content .logo {
    display: flex;
    width: 100%;
    align-items: center;
    opacity: 1;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.sidebar.active .logo-content .logo {
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.logo-content .logo span {
    font-size: 28px;
    margin-right: 5px;
    margin-top: 15px;
}

.logo-content .logo .logo-name {
    font-size: 20px;
    font-weight: 500;
}

.sidebar #sidebar-button {
    position: absolute;
    left: 90%;
    top: 11px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #sidebar-button {
    left: 55%;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    transition: all 0.4s ease;
    border-radius: 12px;
}

.sidebar-links-name {
    transition: all 0.3s ease;
}

.sidebar.active .sidebar-links-name {
    opacity: 0;
    transition: all 0.3s ease;
}

.sidebar ul li a:hover {
    background: #fff;
    color: #11101d;

}

.sidebar ul li span {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}


/* content styles */

.content-box {
    position: absolute;
    width: calc(100% - 300px);
    left: 260px;
    margin: 25px;
    background-color: #11101d;
    border: 1px solid #11101d;
    border-radius: 12px;
    flex-basis: auto;
}


.sidebar.active ~ .content-box {
    width: calc(100% - 80px);
    left: 80px;
    transition: all 0.5s ease;
}

.content-box-text {
    font-size: 18px;
    font-weight: 400;
    color: whitesmoke;
    margin: 12px;
}



/*footer styles*/
footer {
    position: absolute;
    height: 20px;
    width: calc(100% - 260px);
    left: 280px;
    top: 112%;
    margin: 25px;
    padding-bottom: 50px;
    padding-top: 30px;
}

/* Dark mode button */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: black;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px black;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }